<!DOCTYPE html>
<html>
    <head>
        <title>Swissbit Home Automation System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>

<body ng-app="Swissbit Home Automation System">
	<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <br/>
                <div class="row">
                    <div class="col-md-5" pull-left>
                        <!--<img src="images/swissbit-blue.png">-->
        		<img src="images/android.png"> 
			<!--<h1>Welcome to Swissbit Home Automation System</h1>-->
	           </div>
                    <div class="col-md-7">
                        <div class="home-search pull-right col-md-7">
                         <!--   <input type="text" id="home-page-search" class="form-control" placeholder="Search for...">-->
                        </div>
                    </div>
                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="custAddition.html" id="loginButton">Add Customer Details</a>
                            </li>
                            <li>
                                <a href="raspPiAddition.html" id="loginButton">Add Raspberry Pi</a>
                            </li>
			    <li>
                          	<a href="login.html" id="loginButton">Login</a>
			    </li>
                            <li>
                                <a href="signup.html" id="signupButton">Signup</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
</br>
</br>
</br>
</br>
</br>
</br>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    </div>
</div>
<div class="container text-center">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><h1>Rapberry Pi Addition </h1> </div>

    </div>
    <br/>
    <form name="myForm1" novalidate>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="customer" placeholder="customer"  required>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="id" placeholder="id"  required>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="name" placeholder="name"  required>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="pin" placeholder="pin"  required>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <input type="submit" class="btn btn-info btn-block" value="Submit"> 
                </div>
            </div>
        </div>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </body>
</html>
